<body>
    <main>
        <div class="container px-5 px-sm-0">
          <div class="row">
            <%= render 'books/books', book: @book, user: @user %>
          </div>
        </div>
    </main>
</body>


